
<!--menubar(right part)-->
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a md-button aria-label="menu" ui-sref="tickets"><i class="material-icons">receipt</i><span data-translate="Mis Tiquetes"></span></a></li>
        <li><a md-button aria-label="menu" ui-sref="login"><i class="material-icons">power_settings_new</i><span data-translate="Salir"></span></a></li>        
    </ul>
</div>
