<div class="">
    <div class="ui-section">
        <div class="card bg-white map-style">
            <div map-lazy-load="http://maps.google.com/maps/api/js?key=AIzaSyBwCY1vKY-raGCKvNGBJXlYw5Gef8buKoQ">
                <map id="gmap" class="ui-map" zoom="14" center="[9.932507,-84.078445]" scrollwheel="false">
                <marker id='{{branch.id}}'
                icon="{{branch.icon}}"
                position="{{branch.latitude}}, {{branch.longitude}}"
                ng-repeat="branch in ticketCtrl.listBranchs"
                title="{{branch.name}}"
                animation="Animation.DROP"
                on-click="ticketCtrl.showDetail(event, branch);">
                </marker>
                <info-window id="foo-iw" visible-on-marker="{{ticketCtrl.branch.id}}">
                    <div class="info-window" ng-non-bindable="">
                        <b>{{ticketCtrl.branch.name}}</b><div class="divider-sm"></div>
                        <span>{{ticketCtrl.branch.address}}</span><div class="divider-sm"></div>
                        <div ng-if="ticketCtrl.branch.status !== 'INACTIVE'">
                          <span ng-show="ticketCtrl.branch.congestion === 'LOW'"><b class="congestion-low">Congesti&oacute;n Baja</b></span>
                          <span ng-show="ticketCtrl.branch.congestion === 'MEDIUM'"><b class="congestion-medium">Congesti&oacute;n Media</b></span>
                          <span ng-show="ticketCtrl.branch.congestion === 'HIGH'"><b class="congestion-high">Congesti&oacute;n Alta</b></span>
                          <div class="divider-sm"></div>
                          <md-button class="md-raised btn-w-sm md-primary pull-right" ng-click="ticketCtrl.clicked(ticketCtrl.branch);">Generar Ticket</md-button>
                        </div>
                        <span ng-if="ticketCtrl.branch.status === 'INACTIVE'">No disponible en este momento</span>
                    </div>
                </info-window>
              </map>
            </div>
        </div>
    </div>
</div>
